header {
  display: inline-block;
  width: 100%;
}

header > a {
  display: inline-block;
  float: left;
}

header > a > img {
  width: 60px;
  height: 60px;
  background-color: aqua;
}

header > nav {
  display: inline-block;
  float: right;
}

header > nav > a {
  display: inline-block;
  float: left;
  padding: 10px;
  margin-left: 20px;
}

header > nav > a:hover {
  background-color: yellow;
}

header > nav > a + a {
  text-transform: uppercase;
  margin-left: 0;
}